src/main/mule/log-manager-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
   
    <flow name="log-manager-main">
        <http:listener config-ref="log-manager-httpListenerConfig" path="/api/v1/logs/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <set-variable variableName="correlationId" value="#[attributes.headers.'correlation_id']" />
        <flow-ref name="set-baseLogger" doc:name="Set Base Logger" />
        <apikit:router config-ref="log-management-api-config" />
        <error-handler ref="common-errorhandler" />
    </flow>
    
    <flow name="get:\cloudhub\download:log-management-api-config">
    	<flow-ref name="anypoint-platform-login" doc:name="Anypoint Platform Login" />
        <flow-ref name="get-api-response" doc:name="Return API Response" />
    </flow>
    
    <flow name="get:\cloudhub\download\application:log-management-api-config">
        <flow-ref name="anypoint-platform-login" doc:name="Anypoint Platform Login" />
        <flow-ref name="get-api-response" doc:name="Return API Response" />
    </flow>
    
    <flow name="get:\cloudhub\download\group:log-management-api-config">
        <flow-ref name="anypoint-platform-login" doc:name="Anypoint Platform Login" />
        <flow-ref name="get-api-response" doc:name="Return API Response" />
    </flow>
    
    <sub-flow name="get-api-response">
		<ee:transform doc:name="Transform Message" doc:id="37460d2d-a620-4675-9c74-d9f26b77f5c8" >
			<ee:message>
				<ee:set-payload resource="mappings/api-response.dwl" />
			</ee:message>
		</ee:transform>
    </sub-flow>
</mule>
